html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
}

body {
  background: #23273c;
  color: #b3b5ca;
}

a {
  color: #c591ff;
}

a:visited {
  color: #955cdb;
}

h2 {
  margin: 0;
  margin-bottom: .75rem;
}

h3 {
  margin: 0;
  margin-bottom: .5rem;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  box-sizing: border-box;
  padding-left: 1.5rem;
}

ul li::before {
  position: absolute;
  margin-left: -1.5rem;
  content: "- ";
}

.container {
  margin: auto;
  max-width: calc(100vw - 2rem);
  width: 1024px;
}

.grid-3-column-layout {
  display: grid;
  gap: 1rem;
  @media (min-width: 1024px) {
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  }
}

.grid-3-column-layout > * {
  @media(min-width: 1024px) {
    max-width: calc(100% - 2rem);
  }
}

.grid-2-column-layout {
  display: grid;
  gap: 1rem;

  @media (min-width: 1024px) {
    grid-template-columns: calc(100% / 2) calc(100% / 2);
  }
}

.grid-2-column-layout > * {
  @media(min-width: 1024px) {
    max-width: calc(100% - 1rem);
  }
}
