html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background: #23273c;
  color: #b3b5ca;
}

a {
  color: #c591ff;
}

a:visited {
  color: #955cdb;
}

h2 {
  margin: 0;
  margin-bottom: .75rem;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 14px;
}

.container {
  margin: auto;
  max-width: calc(100vw - 2rem);
  width: 1024px;
}

.grid-3-column-layout {
  display: grid;
  gap: 1rem;
  @media (min-width: 1024px) {
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  }
}

.grid-2-column-layout {
  display: grid;
  gap: 1rem;
  @media (min-width: 1024px) {
    grid-template-columns: calc(100% / 2) calc(100% / 2);
  }
}
